.hero {
  background-color: #014E56;
  background-position: top left;
  background-image: url('../../images/about-bg.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.hero__inner {
  display: flex;

}

.hero__title {
  width: 280px;
  margin: 0;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
}

.hero__title span {
  color: #F67E7E;
}

.hero__text {
  max-width: 730px;
  margin-bottom: 120px;
  padding-top: 40px;
  background-image: url('../../images/about-line.svg');
  background-repeat: no-repeat;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

@include max-width(768px) {

  .hero{
    // background-image: none;
  }
  
  .hero__inner {
    background-position: center bottom;
  }

  
  .hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-position: right bottom;
  }

  .hero__titlebox {
    max-width: 400px;
  }

  .hero__title {
    font-size: 64px;
    line-height: 56px;
    text-align: center;
  }

  .hero__textbox {
    max-width: 450px;
  }

  .hero__text {
    font-size: 15px;
    padding-top: 0;
    background-image: none;
  }
}

@include max-width(576px) {

  .hero__inner {
    padding:5px;
    background-image: url(../../images/about-bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .hero__titlebox {
    max-width: 320px;
  }

  .hero__title {
    font-size: 40px;
    line-height: 40px;
  }
}