.site-footer {
    padding: 48px 0;
    background-color: #002529;
}

.site-footer__inner {
    display: flex;
    align-items: flex-start;
}

.site-footer__nav {
    margin-left: 0;
}

.site-footer__list {
    margin: 0 0 0 125px;
    padding: 0;
    list-style-type: none;
}

.site-footer__item {
    margin-bottom: 8px;
}

.site-footer__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.footer-socials {
    margin-left: auto;
    text-align: end;
}

.site-footer__sociallink {
    margin-left: 16px;
}

.site-footer__socials {
    margin-bottom: 50px;
}

.site-footer__copy {
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

@include max-width(768px) {
    .site-footer__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .site-footer__list {
        margin: 0;
        text-align: right;
    }

    .f1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .f2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .f3 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .site-footer__nav {
        margin-top: 53px;
    }

    .footer-socials {
        margin-top: 34px;
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site-footer__socials {
        margin-bottom: 0;
    }
    .site-footer__copy {
        text-align: center;
    }
}

@include max-width(576px) {
    .site-footer__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .site-footer__nav {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .site-footer__list {
        text-align: center;
    }

    .footer-socials {
        margin-top: 34px;
        flex-direction: column;
    }
    .site-footer__socials {
        margin-bottom: 18px;
    }
}