.site-header {
    padding: 77px 0;
    background-color: #014E56;
}

.site-header__inner {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 80px;
}
.nav__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav__item + .nav__item {
    margin-left: 40px;
}
.nav__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    @include transition;

    &:hover {
        color: #F67E7E;
    }
}

.site-header__link {
    display: inline-block;
    margin-left: auto;
    padding: 10px 30px;
    border: 2px solid #FFFFFF;
    text-decoration: none;
    border-radius: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    @include transition;

    &:hover {
        background-color: #FFFFFF;
        color: #002529;
    }
}

.menu {
    display: none;
    width: 20px;
    height: 17px;
    background-color: transparent;
    background-image: url('../../images/menu.svg');
    border: none;
}

@include max-width(576px) {
    .site-header {
        padding: 48px 0;
    }
    
    .nav {
        display: none;
    }

    .site-header__link {
        display: none;
    }
    .menu {
        display: block;
        margin-left: auto;
    }
}